
mixin advice(data, sectionName)
	+b.advice&attributes(attributes)
		if data[sectionName]
			each item in data[sectionName]
				+e('article').item(class='advice__item_pos_#{item.pos}')
					+e.item-wrapper
						+e('header').item-header(class='advice__item-header_#{sectionName}')
							+e('span').number #{item.number}
							+e('h3').title #{item.title}
						+e('p').text(class='advice__text_#{sectionName}') #{item.text}
